/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selector */
h1 {
    color: darkblue;
    text-align: center;
}

/* Group Selector */
h2, h3 {
    color: darkgreen;
    margin-bottom: 10px;
}

/* Element Selector */
p {
    font-size: 16px;
    margin-bottom: 6px;
}

/* Class Selector */
.section-box {
    border: 2px solid #444;
    padding: 15px;
    margin: 15px;
    background-color: #f9f9f9;
}

/* ID Selector */
#student-name {
    color: crimson;
    font-weight: bold;
}

/* Descendant Selector (Courses) */
.course-list li {
    color: navy;
    margin-left: 20px;
}

/* Descendant Selector (Hobbies) */
.hobby-list li {
    color: darkorange;
    margin-left: 20px;
}